.md-editor{
    min-height: calc(100vh - 97px);
    height: calc(100vh - 97px);
    margin: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;

    .md-editor-toolbar{
        height: 35px;
        padding: 5px 10px;
        background-color: #efefef;
        border-bottom: 1px solid #cecece;
        border-radius: 5px 5px 0 0;
        display: flex;
        justify-content: space-between;

        ul{
            display: flex;
            padding: 0;
            margin: 0;

            li{
                display: flex;
                flex-direction: column;
                font-size: 12px;
                padding: 0 3px;

                img{
                    height: 20px;
                    width: 100%;
                }

                span{
                    font-size: 12px;
                }

                &:hover{
                    cursor: pointer;
                    background: #fff;
                }
            }
            
            li+li{
                margin-left: 10px;
            }
        }
    }

    .md-editor-content{
        display: flex;
        height: calc(100% - 81px);

        .md-editor-input,.md-editor-preview,.md-editor-preview code{
            font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif;
        }

        .md-editor-input,.md-editor-preview{
            &::-webkit-scrollbar{ // 滚动条整体部分
                width: 7px;//对垂直方向滚动条
                height: 7px;//对水平方向滚动条
            }
            &::-webkit-scrollbar-thumb{ //滚动的滑块
                border-radius:3px;
                background-color: #bbb;//滚动条的颜色
            }   
        }

        .md-editor-input{
            flex: 1;
            padding: 10px;
            border: none;
            border-right: 1px solid #cecece;
            resize: none;
            outline: none;     
        }

        .md-editor-preview{
            flex: 1;
            word-wrap: break-word;
            padding: 10px;
            background-color: #fff;
            overflow-y: auto;

            code{
                font-size: 14px;
                padding: 2px 4px;
                color: #c7254e;
                background: #f9f2f4;
            }

            pre{
                background: #efefef;
                padding: 8px 8px;
                border-radius: 3px;
                font-size: 15px;

                code{
                    color: #000;
                    background: none;
                    padding: 0;
                }
            }

            p{
                margin: 3px;
            }

            a{
                color: #6795b5;

                &:hover{
                    text-decoration: underline
                }
            }

            li{
                list-style: unset;
            }

            blockquote{
                margin: 0;
                border-left: 0.25em solid #dfe2e5;
                color: #6a737d;
                background: #f6f6f6;
                padding: 1px 1em
            }

            input[type="checkbox"]::before{
                content: '';
            }

            hr{
                border-style: dashed;
                color: #EAECEF;
            }

            img{
                max-width: 100%;
            }
        }
    }

    .md-editor-footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 35px;
        font-size: 12px;
        background: #666666;
        border-radius: 0 0 5px 5px;

        .m-info{
            color: #fff;
            font-weight: 700;
            margin:0 10px;
        }

        .m-item{
            background: #f60;
            color: #fff;
            padding: 2px 10px;
            border-radius: 3px;
            margin: 0 5px;

            a{
                color: #fff;
            }

            span{
                display: none;
                margin-left: 12px;
            }

            &:hover{
                cursor: default;
                
                span{
                    display: inline-block;
                }
            }
        }
    }

    .hide{
        display: none;
    }
}