.m-fixbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5%;
    bottom: 15%;

    img{
        height: 27px;
        background: #fff;
        border-radius: 20px;
        padding: 5px;

        &:hover{
            background-color: unset;
        }
    }
}